
<%=
#@user.inspect
@exist
%>

Most recent tweet in Redis: <%= $redis.get("last_time") %>
<br>
Number of tweets in Database: <%= @tweets.count %>

<br><br><br>

<div class="current_winner_wrap">

  <% $redis.lrange('winners', 0, 4).each do |winner| 
      current_tweet = $redis.hmget(winner, "tweet_user_image","tweet_content")%>
      <img src="<%= current_tweet[0].sub(/_normal\./, '.') %>">
      <p>
      <%= current_tweet[1] %>
      </p>
  <% end %>

</div>